<div class="content" id="home">
  <div id="sidebar-button">
    <img alt="sidebar button" src="{{ site.baseurl }}/images/sidebar-button.png">
  </div>
  <div id="post-info">
    <div id="info-container">
      <h1 id="title">{{ page.title }}</h1>
      {% if page.namevar %}
      <div>
      AKA: {% for var in page.namevar %}{{ var }}, {% endfor %}
      </div>
      {% endif %}
      
  {% for tag in page.tags %}
    <button><a href="{{ site.baseurl }}/tags.html#{{ tag | slugify }}">{{ tag }}</a></button>
  {% endfor %}

    </div>
  </div>
<br/>
  <div class="post">
    {{ content }}
  </div>
  <div class="colophon">
    <p>
      <span id="social">Edit this page <a href="http://prose.io/#ablwr/avaa-demo/edit/master/{{ page.path }}">in Prose</a>! || Edit this page <a href="https://github.com/ablwr/avaa-demo/blob/master/{{ page.path }}">in Github</a>! || File an <a href="https://github.com/ablwr/avaa-demo/issues">Issue on Github</a>!</span>
    </p>
  </div>
</div>
