---
layout: page
title: 搜索结果
lang: 中文
---

<h1 class="search-results-header">搜索结果</h1>

<div>
  <form action="{{ site.baseurl }}/zh/search.html" method="get">
    <input type="text" id="search-box" class="search-box" name="query">
    <input type="submit" class="search-button" value="搜索">
  </form>
</div>

<ul id="search-results"></ul>

<script>
  window.store = {
    {% for post in site.artifacts %}
    {% if post.lang == page.lang %}
      "{{ post.url | slugify }}": {
        "title": "{{ post.title }}",
        "namevar": {{ post.namevar | jsonify }},
        "categories": {{ post.categories | jsonify }},
        "tags": {{ post.tags | jsonify }},
        "content": {{ post.content | strip_html | strip_newlines | jsonify }},
        "url": "{{ site.baseurl }}{{ post.url }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endif %}
    {% endfor %}
  };
</script>
<script src="{{ site.baseurl }}/js/search.js" type="text/javascript"></script>
